.formCard {
    width: 22rem;
    height: auto;
    padding: 2rem 2rem;
    border-radius: 1rem;
    font-size: 1rem;
    color: white;
    -webkit-backdrop-filter: blur(5px);
    border: 1.5px solid rgba(209, 213, 219, 0.3);
    text-align: center;
    border-radius: 50px;
    box-shadow: 20px 20px 60px rgb(189 189 189 / 89%), -7px -10px 95px #ffc5c5;
    margin-bottom: 2rem;
}

.messageContainer {
    position: relative;
    margin-bottom: 2rem;
    background: rgba(161, 27, 27, 0.25);
}

.message {
    position: absolute;
    margin: -1.5rem 1.2rem 0rem 1.2rem;
    height: 3rem;
    padding-top: 0.2rem;
    background: rgba(255, 255, 255, 0.62);
    border: 1px solid #dd32a8;
    color: #b90380;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 39px;
    border-top-left-radius: 22px;
    border-top-right-radius: 26px;
}

.disabled-save-btn {
    background-color: rgb(150, 79, 127);
}

.enabled-save-btn-icon {
    color: rgb(255, 255, 255);
}