@import url(./../../../styles.scss);
$font-family: 'Lato', sans-serif;
$pretty-font-family:'Satisfy', cursive;
.globalTitle {
    font-family: $font-family;
}
.picture {
  background-color: palevioletred;
  font-size: 2rem;
  color: white;
  flex: 1 400px;
  padding: 2rem;
  margin: 0.5rem;
  height: 19rem;
  text-align: -webkit-center;
  border-radius: 1rem;
  background-image: url(./../../../assets/sonriendo-alegremente-sintiendose-feliz-mostrando-concepto.jpg);
  background-size: cover;
  font-family: sans-serif;
  background-position: center;
}

.divCover {
    padding: 2rem;
    border-radius: 1rem;
    font-size: 1rem;
    color:white;
    background: rgba(255, 255, 255, .25);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1.5px solid rgba(209, 213, 219, 0.3);
    text-align: center;
}
.divLetter {
    padding-top: 3rem;
    border-radius: 1rem;
    font-size: 2rem;
    color: white;
    text-align: center;
    font-family: $pretty-font-family;
}
