<div class="dialogHeader">
  <div class="titleContainer headerTitle">
     <h1>¿Cómo trabaja la calculadora de interés?</h1>
  </div>
  <div class="closeIconContainer">
    <mat-icon mat-dialog-actions mat-dialog-close class="closeIcon">close</mat-icon>
  </div>
</div>
<div class="content" mat-dialog-content>
  <p class="subtitleGral">Valores de entrada</p>
  <p class="subtitles">Inversión inicial</p>
  <p>
    Cantidad con la que se cuenta en este momento. Es decir, la cantidad con la que se empezará la inversión.
    <br>
    Esta cantidad debe ser mayor o igual $1,000.00
  </p>

  <p class="subtitles">Aportación anual</p>
  <p>
    ¿Cuánto se puede destinar a la inversión al año?
    <br>
    Esta cantidad deber ser la aportación mensual destinada para la inversión multiplicada por 12.
    <br>
    Este valor debe ser mayor o igual a cero.
    <br>
    Si el valor no se proporciona para el cálculo, este deber ser considerado como cero.
  </p>

  <p class="subtitles">% De incremento a la aportación anual</p>
  <p>
    Debido a la inflación, ¿cuánto incrementará cada año la aportación?
    <br>
    Este valor debe ser mayor o igual a cero.
    <br>
    Si el valor no se proporciona para el cálculo, este deber ser considerado como cero.
  </p>

  <p class="subtitles">Años de inversión</p>
  <p>
    Duración en años de la inversión, este valor debe ser mayor a cero.
  </p>

  <p class="subtitles">Rendimiento de inversión</p>
  <p>
    Porcentaje de rendimiento de la inversión ficticia, esta debe ser mayor a cero.
    <br>
    Por ejemplo: Ahorradores (Cetes) 5% a 7% anual, inversionistas en Bolsa (renta variable) 10-20% anual.
  </p>

</div>