@import url(./../../styles.scss);
$font-family: 'Lato', sans-serif;
$pretty-font-family:'Satisfy', cursive;
.globalTitle {
    font-family: $font-family;
}

.results {
    display: flex;
    justify-content: center;
    align-items: center;
}
.picture {
      /* background-color: palevioletred; */
      font-size: 2rem;
      /* color: white; */
      flex: 1 400px;
      padding: 2rem;
      /* margin: 0.5rem; */
      height: 19rem;
      text-align: -webkit-center;
      border-radius: 20px;
      background-image: url(../../assets/sonriendo-alegremente-sintiendose-feliz-mostrando-concepto.jpg);
      background-size: cover;
      font-family: sans-serif;
      background-position: center;
}

.divCover {
       float: right;
       margin-top: 8rem;
       width: 15rem;
       height: 6rem;
}
.divLetter {
    padding-top: 3rem;
    border-radius: 1rem;
    font-size: 2rem;
    color: white;
    text-align: center;
    font-family: $pretty-font-family;
}

table {
    border-collapse: collapse;
}

td, th {
    padding: 5px 10px;
}

@media (max-width: 30em) {
    // 30 x 16px = 480px
    .divCover {
        float: right;
        margin-top: 23rem;
        width: 15rem;
        height: 6rem;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
    table {
        width: 100%;
    }
    .mat-mdc-table {
        background: transparent;
    }

    table tr {
        display: flex;
        flex-direction: column;
        border: 1px solid white;
        border-radius: 20px;
        padding: 1em;
        margin-bottom: 1em;
        height: auto;
        background: rgb(137 49 98 / 25%);
        border: 1.5px solid rgba(209, 213, 219, 0.3);
    }

    table td[data-title] {
        display: flex;
    }

    table td[data-title]::before {
       content: attr(data-title);
       width: 10rem;
    }

    .mdc-data-table__cell, .mdc-data-table__header-cell {
        border-bottom-width: 0px;
        border-bottom-style: solid;
        background: transparent;
    }

    .customTable {
        border-radius: 20px;
    }
}