<div class="parent header">
  <div class="div1">
    <h1 class="pageTitle">Calculadora de interés compuesto</h1>


  </div>
  <div class="div2">
    <!-- Trigger/Open The Modal -->
    <mat-icon class="info" (click)="openInfoModal()">info</mat-icon>
  </div>
</div>

<div class="marginTopContainer">
  <h1 class="globalTitle">
    Calcula el monto que podrías generar al realizar una inversión como inversionista independiente
  </h1>
</div>

<section class="banner">
  <div class="containerB">
    <div class="boxB col1">
      <app-form></app-form>
      <!-- <img src="image/foto.svg" class="imgBanner" alt=""> -->
    </div>
    <div class="boxB col2">
      <app-table></app-table>
    </div>
  </div>
</section>
<!-- 
/////////
<div class="container">
  <div class="form">
    <div class="boxesDiv1">
      <app-form></app-form>
    </div>
  </div>
  <div class="table">
    <div class="img">
      <app-table></app-table>
    </div>
  </div>
  <div class="footer">
    
  </div>
</div> -->
<div class="footerSetting"><app-footer></app-footer></div>
<router-outlet></router-outlet>
<!-- <div class="parent">
  <div class="div3">
    <div class="boxesDiv1">
      <app-form></app-form>
    </div>
  </div>
  <div class="div4">
    <div class="img">
      <app-table></app-table>
    </div>
  </div>
</div>

<div class="row footerSetting"><app-footer></app-footer></div>
<router-outlet></router-outlet> -->