<div class="header">
  <div class="">
    <h1 class="pageTitle">Calculadora de interés compuesto</h1>
  </div>
  <div class="">
    <mat-icon class="info" (click)="openInfoModal()">info</mat-icon>
  </div>
</div>

<div class="marginTopContainer">
  <h1 class="globalSubTitle">
    Calcula el monto que podrías generar al realizar una inversión como inversionista independiente
  </h1>
</div>

<div class="flexContainerMain">
  <app-form></app-form>
  <app-table></app-table>
</div>
<app-calculator-graph class="center"></app-calculator-graph>

<app-footer class="footer"></app-footer>