<div class="parent header">
  <div class="div1">
    <h1 class="pageTitle">Calculadora de interés compuesto</h1>


  </div>
  <div class="div2">
    <!-- Trigger/Open The Modal -->
    <mat-icon class="info" (click)="openInfoModal()">info</mat-icon>
  </div>
</div>

<div class="container-fluid">

  <div class="row marginTopContainer">
    <div class="col col-25">
      <div class="boxesDiv1"><app-form></app-form></div>
    </div>
    <div class="col col-75">
      <div class="boxesDiv">
        <app-table></app-table>
        <app-calculator-graph></app-calculator-graph>
    </div>
  </div>

</div>
<div class="row footerSetting"><app-footer></app-footer></div>
<router-outlet></router-outlet>