/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&family=Satisfy&display=swap');
$font-family: 'Lato', sans-serif;
$pretty-font-family: 'Satisfy', cursive;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
  background: url(./assets/fondoCute.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.globalSubTitle {
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
  color: #783d66;
  padding: 2rem 2rem 0rem 2rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.mat-mdc-fab.mat-accent,
.mat-mdc-mini-fab.mat-accent {
  --mdc-fab-container-color: #02dfdfc7;
  --mdc-fab-icon-color: #000;
  --mat-mdc-fab-color: #000;
}

@media (max-width: 30em) {

  // 30 x 16px = 480px
  table thead {
    display: none;
  }
}

.backdropBackground {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.mat-mdc-dialog-content {
  max-height: 85vh !important;
}

/* scrollbar width */
::-webkit-scrollbar {
  width: 10px;
}

/* scrollbar Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(96, 146, 150);
  border-radius: 10px;
}

/* scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: rgb(250, 178, 210);
  background: radial-gradient(circle, rgb(250, 178, 210) 43%, rgb(224, 35, 199) 100%);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(250, 178, 210);
  background: radial-gradient(circle, rgb(51, 211, 211) 43%, rgb(194, 171, 171) 100%);
}

.mat-mdc-dialog-content::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 100px;
}

.mat-mdc-dialog-container {
  --mdc-dialog-container-color: #fffffff0 !important;
  --mdc-dialog-with-divider-divider-color: rgba(255, 255, 255, 0.12);
  --mdc-dialog-subhead-color: rgba(255, 255, 255, 0.87);
  --mdc-dialog-supporting-text-color: rgba(255, 255, 255, 0.6);
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: var(--mdc-dialog-container-shape, var(--mdc-shape-medium, 25px)) !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: rgb(255 114 146) !important;
  border-radius: 16px !important;
}

.mat-mdc-table {
  background: #95e6e700 !important;
}

.mat-mdc-paginator {
  background: #86cfd0 !important;
  border-radius: 20px !important;
}

.footer {
  margin-top: auto;
  bottom: 0px;
  width: 100%;
}

// dialog

.rotate-scale-up {

  -webkit-animation: rotate-scale-up 0.65s linear both;

  animation: rotate-scale-up 0.65s linear both;

}

/* ----------------------------------------------
  * Generated by Animista on 2022-12-30 16:40:15
  * Licensed under FreeBSD License.
  * See http://animista.net/license for more info. 
  * w: http://animista.net, t: @cssanimista
  * ---------------------------------------------- */

/**
  * ----------------------------------------
  * animation rotate-scale-up
  * ----------------------------------------
  */
@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }

  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }

  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}

@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }

  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }

  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}